*{
  margin: 0;
  /* padding: 0; */
  aspect-ratio: auto;
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Poppins', sans-serif;
}
.App{
  background-color: #fff;
  height: 1000%;
  width: 100%;
  background-image:linear-gradient(48deg,#ff6596,#60bef8,#d88cff);
  background-size: 600% 600%;
  animation: Appanimatedgradient 7s infinite linear;
  text-align: center;
  scroll-behavior: smooth;
  padding-top: 150px;  
  overflow:scroll
}

@keyframes Appanimatedgradient{
  0%{
    background-position: 0 85% ;
  }
  50%{
    background-position: 100% 20% ;
  }
  100%{
    background-position:0 85%;
  }

}

.nav-container>div{
  /* border: 1px solid green; */
  height: 80%;
  width: 50%;
}
.nav-container>div:nth-child(1){
  width: auto
  /* border: 1px solid red; */
}
.nav-container>div:nth-child(1)>img{
  width:60%;
  height: 100px;
  cursor: pointer;
  /* border: 1px solid red; */
}
.nav-container>div:nth-child(2){
  width: auto;
}

.App>.item-container{
  border:1px solid transparent;
  height:1100px;
  width:90%;
  margin:auto;
  margin-top: 150px;
  
}